@font-face{
    font-family: rubik;
    src:url(Rubik-VariableFont_wght.ttf)
}

.main-box{
    display: flex;
    width: 40%;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    margin-top: 10rem;
    
}

.logo{
    width: 7rem;
    margin: auto;
    margin-bottom: 1rem;
    
}

.BD{
    font-weight: 500;
    font-size: 1.3rem;
    margin: auto;
    font-family: rubik;
    margin-bottom: 1rem;
}

.email{
    font-size: 100%;
    margin-left: 23%;
    margin-bottom: 5px;
    font-family: rubik;
    font-weight: 50;
    color:rgb(57, 56, 56)
}

.input{
    line-height: 32px;
    width:50%;
    margin:auto;
    margin-bottom: 1rem;
    border-radius: 0px;
    border: solid black 1px;
    padding-left: 1rem;
}

.enter{
    width: 54%;
    height: 3rem;
    border-radius: 0px;
    border:2px solid #3e9ddd;
    margin:auto;
    margin-top: 1rem;    
    margin-bottom: 1rem;
    background-color: #222636;
    color: #e8f6f0;
    font-size: 100%;
}
